*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f2eb;
  color: #000;
}

img {
  font-size: 1.2rem;
  object-fit: cover;
  object-position: center;
}

.t-header-1 {
  font-size: 8rem;
  font-weight: 200;
}

.t-header-2 {
  font-size: 3.5rem;
  font-weight: 300;
}

.t-header-3 {
  font-size: 3rem;
  font-weight: 300;
}

.t-header-4 {
  font-size: 2.5rem;
  font-weight: 400;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-tiny {
  margin-top: 0.5rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium-small {
  margin-top: 2.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium-small {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-unselectable {
  user-select: none !important;
}

.u-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.header__slider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 90%;
  z-index: -1;
}

.header__texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: max-content;
  height: 100%;
  color: #fff;
  font-family: "Raleway", sans-serif;
  z-index: 0;
}

.header__title {
  padding: 0 2rem 0 3rem;
  text-shadow: 0 0 0.4rem #70371a;
  background-color: rgba(181, 89, 42, 0.85);
  line-height: 14rem;
}

.header__subtitle {
  margin-top: -1.5rem;
  padding: 0 2rem 0 5rem;
  background-color: rgba(112, 55, 26, 0.9);
  line-height: 5rem;
}

.header__text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  line-height: 2.5rem;
  margin-bottom: -1.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(181, 89, 42, 0.9);
  font-size: 1.8rem;
  text-align: right;
}

.header__social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0.8rem 2.5rem;
}

.header__link:link, .header__link:visited {
  fill: #b5592a;
  transition: all 0.1s;
}

.header__link:hover, .header__link:active {
  fill: #f09027;
}

.header__logo {
  width: 3.5rem;
  height: 3.5rem;
}

.slider__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: all 1s ease-in-out;
}

.slider__hero {
  width: 100%;
  height: 100%;
}

.influence__title {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  justify-self: start;
  align-self: end;
  width: 100%;
  margin-left: 5rem;
  border-bottom: 2px solid #f09027;
}

.influence__from {
  justify-self: end;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 28.5rem));
  grid-template-rows: 40rem;
  width: 80%;
}

.influence__source {
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid #8cbeaa;
  overflow: hidden;
  transform: skewX(-10deg) translate3d(0, 0, 0);
  transition: all 0.2s;
}

.influence__source:hover {
  transform: translate(0.35rem, -2.02rem) skewX(-10deg);
}

.influence__wrapper:hover .influence__source {
  transform: translate(0.35rem, -2.02rem) skewX(-10deg);
}

.influence__img {
  width: 140%;
  height: 100%;
  transform: translateX(-15%) skewX(10deg);
}

.influence__caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.influence__text {
  grid-column: 1 / -1;
  width: 78%;
  margin: 5rem 0;
  color: #464646;
  font-size: 1.6rem;
  text-align: justify;
}

.service__building {
  display: flex;
  align-items: center;
  gap: 14rem;
}

.service__header {
  padding-left: 20rem;
  border-bottom: 2px solid #f09027;
}

.service__types {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.service__type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  fill: #f09027;
}

.service__text {
  font-size: 1.7rem;
}

.service__detail {
  font-size: 1.3rem;
  color: #464646;
}

.service__desc {
  margin: 0 3rem 0 auto;
  width: 20%;
  color: #464646;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  text-align: right;
}

.service__desc span {
  margin-top: 0.5rem;
  display: block;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: [fill-start] 1fr [content-start] minmax(min-content, 130rem) [content-end] 1fr [fill-end];
  grid-template-rows: 85vh;
  justify-items: center;
}

.header {
  grid-column: fill-start / fill-end;
  position: relative;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Nunito", sans-serif;
}

.service {
  grid-column: fill-start / content-end;
  width: 100%;
  padding: 4rem 0 4rem 0;
  margin: 10rem 0 5rem 0;
  border-top: 3px solid #f09027;
  font-family: "Nunito", sans-serif;
}

.influence {
  grid-column: content-start / fill-end;
  display: grid;
  grid-template-columns: minmax(max-content, 2fr) minmax(max-content, 1fr);
  justify-items: center;
  width: 100%;
  border-bottom: 3px solid #f09027;
  font-family: "Nunito", sans-serif;
}

.workflow {
  grid-column: content-start / content-end;
}

.project {
  grid-column: fill-start / fill-end;
}

.contact {
  grid-column: content-start / content-end;
}

.about {
  grid-column: content-start / content-end;
}

.footer {
  grid-column: fill-start / fill-end;
}
