*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f2eb;
  color: #000;
}

img {
  font-size: 1.2rem;
  object-fit: cover;
  object-position: center;
}

.t-header-1 {
  font-size: 8rem;
  font-weight: 200;
}

.t-header-2 {
  font-size: 3.5rem;
  font-weight: 300;
}

.t-header-3 {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.t-header-4 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-tiny {
  margin-top: 0.5rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium-small {
  margin-top: 2.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium-small {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-unselectable {
  user-select: none !important;
}

.u-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.btn:link, .btn:visited {
  padding: 10px 15px;
  border: 2px solid #b5592a;
  border-radius: 2px;
  color: #70371a;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.1s;
}

.btn:hover, .btn:active {
  border: 2px solid #f09027;
  background-color: #f09027;
  color: #fff;
}

.input {
  border: none;
  background-color: rgba(235, 235, 235, 0.95);
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 2px;
  font-family: inherit;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid #8cbeaa;
  background-color: #ebebeb;
}

.input:focus:invalid {
  border-bottom: 2px solid #70371a;
}

.submit {
  background-color: transparent;
  border: 2px solid #f0f2eb;
  cursor: pointer;
  transition: all 0.2s;
}

.submit:hover, .submit:active, .submit:focus {
  border: 2px solid #f0f2eb;
  background-color: #f0f2eb;
  color: #b5592a;
}

.company__image {
  flex: 0 1 30%;
  height: 25rem;
}

.company__image img {
  width: 100%;
  height: 100%;
}

.company__us {
  flex: 1 0 70%;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-right: 5rem;
}

.company__header {
  align-self: flex-start;
  width: 80%;
  border-bottom: 2px solid #f09027;
  padding-left: 6rem;
  text-align: right;
  line-height: normal;
}

.company__text {
  margin-left: 6rem;
  padding: 2rem 3rem;
  background-color: #ebebeb;
  color: #464646;
  text-align: justify;
}

.founder__header {
  align-self: flex-end;
  border-bottom: 2px solid #f09027;
  width: 55%;
  margin-top: 2rem;
}

.founder__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: end;
  column-gap: 5rem;
  row-gap: 2rem;
  margin: 6rem 0;
  padding-right: 14rem;
}

.founder__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5rem;
}

.founder__person--1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.founder__person--2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.founder__photo {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.founder__who {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

.founder__who span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.founder__person-text {
  align-self: center;
  padding: 2rem 3rem;
  background-color: #ebebeb;
  font-size: 1.4rem;
  color: #464646;
  text-align: center;
}

.founder__person-text--1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.founder__person-text--2 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.contact__header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  justify-self: start;
  width: 50%;
  text-align: right;
  border-bottom: 3px solid #f0f2eb;
  color: #f0f2eb;
}

.contact__direct {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  width: 100%;
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  row-gap: 2rem;
  column-gap: 3rem;
  width: 80%;
  margin: 0 auto;
}

.contact__group {
  display: flex;
  flex-direction: column;
  color: #f0f2eb;
  font-size: 1.5rem;
}

.contact__group--name {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.contact__group--email {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.contact__group--phone {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.contact__group--message {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}

.contact__group--submit {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  justify-self: center;
}

.contact__input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #464646;
}

.contact__input--message {
  height: 30rem;
  resize: none;
}

.contact__input--submit {
  display: inline-block;
  color: #f0f2eb;
}

.contact__business {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  padding-left: 5rem;
  margin: 2rem 0;
  border-left: 3px solid #f0f2eb;
}

.contact__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.contact__logo {
  width: 3rem;
  height: 3rem;
  fill: #f0f2eb;
}

.contact__name:link, .contact__name:visited {
  color: #f0f2eb;
  font-size: 1.4rem;
  margin: 0 2.5rem;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: all 0.2s;
}

.contact__name:hover, .contact__name:active {
  border-bottom: 1px solid #f0f2eb;
}

.contact__link:hover ~ .contact__name {
  border-bottom: 1px solid #f0f2eb;
}

.footer__copyright {
  color: #fff;
  font-size: 1.2rem;
}

.footer__nav {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
}

.footer__link:link, .footer__link:visited {
  border-bottom: 2px solid transparent;
  color: #fff;
  text-decoration: none;
  margin: 0.5rem 1.5rem;
  font-size: 1.3rem;
  transition: all 0.2s;
}

.footer__link:hover, .footer__link:active {
  border-bottom: 2px solid #f0f2eb;
}

.header__slider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 90%;
  z-index: -1;
}

.header__texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: max-content;
  height: 100%;
  color: #fff;
  font-family: "Raleway", sans-serif;
  z-index: 0;
}

.header__title {
  padding: 0 2rem 0 3rem;
  text-shadow: 0 0 0.4rem #70371a;
  background-color: rgba(181, 89, 42, 0.85);
  line-height: 14rem;
}

.header__subtitle {
  margin-top: -1.5rem;
  padding: 0 2rem 0 5rem;
  background-color: rgba(112, 55, 26, 0.9);
  line-height: 5rem;
}

.header__text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  line-height: 2.5rem;
  margin-bottom: -1.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(181, 89, 42, 0.9);
  font-size: 1.8rem;
  text-align: right;
}

.header__social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0.8rem 2.5rem;
}

.header__link:link, .header__link:visited {
  fill: #b5592a;
  transition: all 0.1s;
}

.header__link:hover, .header__link:active {
  fill: #f09027;
}

.header__logo {
  width: 3.5rem;
  height: 3.5rem;
}

.header__btn {
  position: absolute;
  bottom: -5rem;
  left: 10%;
}

.slider__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: all 1s ease-in-out;
}

.slider__hero {
  width: 100%;
  height: 100%;
}

.influence__header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  justify-self: end;
  align-self: end;
  width: 100%;
  border-bottom: 2px solid #f09027;
}

.influence__from {
  justify-self: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 28.5rem));
  grid-template-rows: 40rem;
  width: 80%;
}

.influence__source {
  height: 100%;
  width: 100%;
  position: relative;
  border-left: 1px solid #8cbeaa;
  border-right: 1px solid #8cbeaa;
  overflow: hidden;
  transition: all 0.2s;
}

.influence__wrapper {
  transform: skewX(-10deg) translate3d(0, 0, 0);
}

.influence__source:hover {
  transform: translateY(-2rem);
}

.influence__wrapper:hover .influence__source {
  transform: translateY(-2rem);
}

.influence__img {
  width: 140%;
  height: 100%;
  transform: translateX(-15%) skewX(10deg);
}

.influence__caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  border-top: 2px solid #f09027;
  background-color: #b5592a;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.influence__text {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-self: start;
  margin: 4rem 0;
  padding: 3rem;
  width: 90%;
  background-color: #ebebeb;
  color: #464646;
  font-size: 1.6rem;
  text-align: justify;
}

.nav {
  border-bottom: 1px solid transparent;
  transition: border 0.2s;
}

.nav__logo:link, .nav__logo:visited {
  color: #70371a;
  font-size: 1.6rem;
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  transition: all 0.4s;
}

.nav__logo:hover, .nav__logo:active {
  color: #f09027;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
}

.nav__list--active {
  font-size: 1.3rem;
}

.nav__item {
  font-size: inherit;
}

.nav__link:link, .nav__link:visited {
  color: #70371a;
  text-decoration: none;
  padding: 0 0.5rem;
  margin: 0.5rem 1rem;
  font-size: inherit;
  transition: all 0.2s;
}

.nav__link:hover, .nav__link:active {
  color: #f09027;
}

.nav-active {
  background-color: #f0f2eb;
  border-bottom: 1px solid #b5592a;
}

.project__header {
  border-bottom: 2px solid #f09027;
  text-align: center;
}

.project__works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(0, 40rem));
  padding: 0 6rem;
  margin: 3rem 0 3rem 0;
  column-gap: 4rem;
  row-gap: 8rem;
}

.project__work {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  background-color: #ebebeb;
  border-top: 2px solid transparent;
  border-bottom: 2px solid #ebebeb;
  transition: all 0.2s;
}

.project__work:hover {
  border-top: 2px solid #b5592a;
  border-bottom: 2px solid #b5592a;
}

.project__link {
  overflow: hidden;
  flex: 1 1;
}

.project__picture {
  width: 100%;
  height: 100%;
}

.project__detail {
  flex: 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem 2rem 1rem;
}

.project__name:link, .project__name:visited {
  padding-top: 1.2rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid transparent;
  color: inherit;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}

.project__name:hover {
  border-bottom: 1px solid #f09027;
}

.project__type:link, .project__type:visited {
  color: #b5592a;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  transition: all 0.2s;
}

.project__type:hover {
  color: #f09027;
}

.project__misc {
  align-self: stretch;
  display: grid;
  grid-template-columns: minmax(max-content, 20%) 1fr;
  font-size: 1.2rem;
  row-gap: 0.5rem;
}

.service__building {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}

.service__header {
  padding-left: 20rem;
  border-bottom: 2px solid #f09027;
  width: max-content;
  font-weight: 300;
}

.service__types {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.service__type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
  background-color: #ebebeb;
}

.service__type:link, .service__type:visited {
  text-decoration: none;
}

.service__img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  fill: #f09027;
  transition: all 0.2s;
}

.service__type:hover .service__img {
  fill: #b5592a;
}

.service__text {
  color: #000;
  font-size: 1.7rem;
}

.service__detail {
  font-size: 1.3rem;
  color: #464646;
}

.service__desc {
  margin: 0 3rem 0 0;
  width: 20%;
  color: #464646;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  text-align: right;
}

.service__desc span {
  margin-top: 0.5rem;
  display: block;
  font-weight: 400;
  font-style: normal;
}

.workflow__header {
  width: 40%;
  border-bottom: 2px solid #f09027;
  text-align: right;
}

.workflow__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  column-gap: 3rem;
  margin: 5rem 0 3rem 0;
  padding-left: 6rem;
}

.workflow__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #b5592a;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #ebebeb;
  transition: all 0.2s;
}

.workflow__step:hover {
  transform: translateY(-0.5rem);
  border-bottom: 1px solid #f09027;
}

.workflow__illust {
  height: 5rem;
  width: 5rem;
  fill: #f09027;
  transition: all 0.2s;
}

.workflow__desc {
  padding: 0 2rem 1rem 2rem;
  color: #464646;
  font-size: 1.3rem;
  font-family: "Nunito", serif;
  text-align: center;
}

.workflow__desc span {
  display: block;
  margin: 4rem 0 1rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: [fill-start] 1fr [content-start] minmax(min-content, 130rem) [content-end] 1fr [fill-end];
  grid-template-rows: 85vh;
  justify-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 2rem;
  font-family: "Nunito", sans-serif;
  z-index: 10;
}

.header {
  grid-column: fill-start / fill-end;
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
}

.service {
  grid-column: fill-start / content-end;
  width: 100%;
  padding: 5rem 0;
  margin: 10rem 0 5rem 0;
  border-top: 3px solid #f09027;
  font-family: "Nunito", sans-serif;
}

.influence {
  grid-column: content-start / fill-end;
  display: grid;
  grid-template-columns: minmax(max-content, min-content) 1fr;
  margin: 10rem 0;
  border-bottom: 3px solid #f09027;
  font-family: "Nunito", sans-serif;
}

.workflow {
  grid-column: fill-start / content-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 0;
  margin: 2rem 0 5rem 0;
  font-family: "Nunito", sans-serif;
}

.project {
  grid-column: fill-start / fill-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0 8rem 0;
  font-family: "Nunito", sans-serif;
}

.contact {
  grid-column: fill-start / fill-end;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  row-gap: 6rem;
  width: 100%;
  padding: 8rem 0;
  margin: 10rem 0;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(to top, rgba(181, 89, 42, 0.8), rgba(240, 144, 39, 0.8)), linear-gradient(to top left, transparent, rgba(0, 0, 0, 0.5)), url("../img/bg-1.png");
  background-size: cover;
  background-position: bottom;
}

.founder {
  grid-column: content-start / fill-end;
  display: flex;
  flex-direction: column;
  margin: 0 0 4rem auto;
  padding-top: 4rem;
  border-top: 3px solid #f09027;
  font-family: "Nunito", sans-serif;
}

.company {
  grid-column: fill-start / content-end;
  display: flex;
  flex-direction: row-reverse;
  margin: 4rem auto 10rem 0;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

.footer {
  grid-column: fill-start / fill-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 6rem;
  border-top: 2px solid #f09027;
  background-color: #b5592a;
  font-family: "Nunito", sans-serif;
}
