// COLORS
$color-primary: #f0f2eb;

$color-secondary: #b5592a;
$color-secondary-dark: #70371a;

$color-tertiary: #f09027;

$color-quartenery: #8cbeaa;

$color-light-1: #fff;
$color-light-2: rgb(190, 190, 190);
$color-dark-1: #000;

$color-font-dark: #000;
$color-font-light: #fff;

// BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 52.8125em; //845px
$bp-small: 43.75em; //700px
$bp-smallest: 37.5em; //600px
