.contact {
  &__header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    justify-self: start;
    width: 50%;
    text-align: right;
    border-bottom: 3px solid $color-primary;
    color: $color-primary;

    @media only screen and (max-width: $bp-smallest) {
      justify-self: center;
      width: 90%;
      font-size: 2.8rem;
      text-align: center;
    }
  }

  &__direct {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    row-gap: 2rem;
    column-gap: 3rem;
    width: 80%;
    margin: 0 auto;

    @media only screen and (max-width: $bp-large) {
      width: 90%;
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-template-columns: 1fr;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    color: $color-primary;
    font-size: 1.5rem;

    &--name {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    &--email {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;

      @media only screen and (max-width: $bp-smallest) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }
    }

    &--phone {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;

      @media only screen and (max-width: $bp-smallest) {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
      }
    }

    &--message {
      grid-column: 1 / span 3;

      @media only screen and (max-width: $bp-smallest) {
        grid-column: 1 / span 1;
      }
    }

    &--submit {
      grid-column: 1 / span 3;
      justify-self: center;

      @media only screen and (max-width: $bp-smallest) {
        grid-column: 1 / span 1;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    color: $color-font-grey;

    &--message {
      height: 30rem;
      resize: none;
    }

    &--submit {
      display: inline-block;
      color: $color-primary;

      &:hover,
      &:active,
      &:focus {
        border: 2px solid $color-primary;
        background-color: $color-primary;
        color: $color-secondary;
      }

      @media only screen and (max-width: $bp-smallest) {
        border: 2px solid $color-primary;
        background-color: $color-primary;
        color: $color-secondary;
      }
    }
  }

  &__business {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    list-style: none;
    display: grid;
    padding-left: 5rem;
    border-left: 3px solid $color-primary;

    @media only screen and (max-width: $bp-large) {
      padding-left: 2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
      grid-template-columns: repeat(2, 1fr);
      border-left: none;
      padding-left: 0;
    }

    @media only screen and (max-width: $bp-contact-founder-break) {
      grid-template-columns: 1fr;
      justify-self: center;
      margin-top: 5rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;

    @media only screen and (max-width: $bp-medium) {
      margin-left: 20%;
    }
  }

  &__logo {
    width: 3rem;
    height: 3rem;
    fill: $color-primary;
  }

  &__name {
    &:link,
    &:visited {
      color: $color-primary;
      font-size: 1.4rem;
      margin: 0 2.5rem;
      border-bottom: 1px solid transparent;
      text-decoration: none;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      border-bottom: 1px solid $color-primary;
    }
  }

  &__link:hover ~ &__name {
    border-bottom: 1px solid $color-primary;
  }
}
