.influence {
  &__header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
    align-self: end;
    width: 100%;
    border-bottom: 2px solid $color-tertiary;
  }

  &__from {
    justify-self: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 28.5rem));
    grid-template-rows: 40rem;
    width: 80%;
  }

  &__source {
    height: 100%;
    width: 100%;
    position: relative;
    border-left: 1px solid $color-quartenery;
    border-right: 1px solid $color-quartenery;
    overflow: hidden;
    transition: all 0.2s;
  }

  &__wrapper {
    transform: skewX(-10deg) translate3d(0, 0, 0);
  }

  &__source:hover {
    transform: translateY(-2rem);
  }

  &__wrapper:hover &__source {
    transform: translateY(-2rem);
  }

  &__img {
    width: 140%;
    height: 100%;
    transform: translateX(-15%) skewX(10deg);
  }

  &__caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    border-top: 2px solid $color-tertiary;
    background-color: $color-secondary;
    color: $color-font-light;
    font-size: 2rem;
    text-align: center;
  }

  &__text {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: start;
    align-self: center;
    padding: 3rem;
    width: 90%;
    background-color: $color-light-3;
    color: $color-font-grey;
    font-size: 1.5rem;
    text-align: justify;
  }
}
