.influence {
  &__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 100%;
    border-bottom: 3px solid $color-tertiary;
    opacity: 0;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: $bp-smallest) {
      border-bottom: none;
    }
  }

  &__header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
    align-self: end;
    width: 100%;
    border-bottom: 2px solid $color-tertiary;

    @media only screen and (max-width: $bp-large) {
      grid-column: 1 / span 1;
      width: 80%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 90%;
    }

    @media only screen and (max-width: $bp-smallest) {
      justify-self: center;
      width: 80%;
      text-align: center;
    }
  }

  &__from {
    justify-self: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 28.5rem));
    grid-template-rows: 40rem;
    width: 80%;

    @media only screen and (max-width: $bp-large) {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
      padding: 0 2rem;
    }

    @media only screen and (max-width: $bp-influence-workflow-break) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 60vw);
      row-gap: 2rem;
    }
  }

  &__source {
    height: 100%;
    width: 100%;
    position: relative;
    border-left: 1px solid $color-quartenery;
    border-right: 1px solid $color-quartenery;
    overflow: hidden;
    transition: all 0.2s;
  }

  &__card {
    transform: skewX(-10deg) translate3d(0, 0, 0);

    @media only screen and (max-width: $bp-smallest) {
      transform: skewX(0) translate3d(0, 0, 0);
    }
  }

  &__source:hover {
    transform: translateY(-2rem);

    @media only screen and (max-width: $bp-influence-workflow-break) {
      transform: translateY(0);
    }

    .influence__caption {
      border-top: 2px solid $color-secondary;
      background-color: $color-secondary;
    }
  }

  &__card:hover &__source {
    transform: translateY(-2rem);

    @media only screen and (max-width: $bp-influence-workflow-break) {
      transform: translateY(0);
    }

    .influence__caption {
      border-top: 2px solid $color-secondary;
      background-color: $color-secondary;
    }
  }

  &__card:active &__source {
    transform: translateY(-2rem);

    @media only screen and (max-width: $bp-influence-workflow-break) {
      transform: translateY(0);
    }

    .influence__caption {
      border-top: 2px solid $color-secondary;
      background-color: $color-secondary;
    }
  }

  &__img {
    width: 140%;
    height: 100%;
    transform: translateX(-15%) skewX(10deg);

    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
      transform: translateX(0) skewX(0);
    }
  }

  &__caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    border-top: 2px solid $color-tertiary;
    background-color: $color-tertiary;
    color: $color-font-light;
    font-size: 2rem;
    text-align: center;
    transition: all 0.2s;

    @media only screen and (max-width: $bp-influence-workflow-break) {
      padding: 1rem;
    }
  }

  &__text-container {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: start;
    align-self: center;
    max-width: 50rem;
    width: 90%;

    @media only screen and (max-width: $bp-large) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      justify-self: end;
      max-width: 85%;
      margin: 5rem 4rem 6rem 0;
    }

    @media only screen and (max-width: $bp-medium) {
      justify-self: center;
      margin: 5rem 0;
    }

    @media only screen and (max-width: $bp-smallest) {
      max-width: 100%;
      width: 100%;
      padding: 0 2rem;
      margin: 5rem 0;
    }
  }

  &__text {
    padding: 2rem 3rem;
    background-color: $color-light-3;
    color: $color-font-grey;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.6;
  }
}
