.service {
  &__building {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
  }

  &__header {
    padding-left: 20rem;
    border-bottom: 2px solid $color-tertiary;
    width: max-content;
    font-weight: 300;
  }

  &__types {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  &__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 4px;
    background-color: $color-light-3;

    &:link,
    &:visited {
      text-decoration: none;
    }
  }

  &__img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    fill: $color-tertiary;
    transition: all 0.2s;
  }

  &__type:hover &__img {
    fill: $color-secondary;
  }

  &__text {
    color: $color-font-dark;
    font-size: 1.7rem;
  }

  &__detail {
    font-size: 1.3rem;
    color: $color-font-grey;
  }

  &__desc {
    margin: 0 3rem 0 0;
    width: 20%;
    color: $color-font-grey;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    text-align: right;

    span {
      margin-top: 0.5rem;
      display: block;
      font-weight: 400;
      font-style: normal;
    }
  }
}
