.container {
  display: grid;
  grid-template-columns:
    [fill-start] 1fr
    [content-start] minmax(min-content, 115rem) [content-end]
    1fr [fill-end];
  grid-template-rows: 85vh;
  justify-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem;
  font-family: "Nunito", sans-serif;
  z-index: 10;

  @media only screen and (max-width: $bp-largest) {
    padding: 2.35rem 2rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 0;
  }
}

.header {
  grid-column: fill-start / fill-end;
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
}

.service {
  grid-column: fill-start / content-end;
  width: 100%;
  padding: 5rem 0;
  margin: 10rem 0 5rem 0;
  border-top: 3px solid $color-tertiary;
  font-family: "Nunito", sans-serif;

  @media only screen and (max-width: $bp-smallest) {
    border-top: none;
    padding: 5rem 0 0 0;
  }
}

.influence {
  grid-column: content-start / fill-end;
  width: 100%;
  margin: 10rem 0;
  font-family: "Nunito", sans-serif;

  @media only screen and (max-width: $bp-large) {
    margin: 5rem 0 10rem 0;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 3rem 0 10rem 0;
  }
}

.workflow {
  grid-column: fill-start / content-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 5rem 0;
  margin: 2rem 0 5rem 0;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;

  @media only screen and (max-width: $bp-large) {
    margin: 0 0 5rem 0;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin: 0;
  }
}

.project {
  grid-column: fill-start / fill-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0 8rem 0;
  font-family: "Nunito", sans-serif;

  @media only screen and (max-width: $bp-smallest) {
    margin: 10rem 0 4rem 0;
  }
}

.contact {
  grid-column: fill-start / fill-end;
  width: 100%;
  padding: 8rem 0;
  margin: 10rem 0;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(
      to top,
      rgba($color-secondary, 0.8),
      rgba($color-tertiary, 0.8)
    ),
    linear-gradient(to top left, transparent, rgba($color-dark-1, 0.5)),
    url("../img/bg-1.png");
  background-size: cover;
  background-position: bottom;
}

.founder {
  grid-column: content-start / fill-end;
  width: 100%;
  margin: 0 0 10rem auto;
  padding-top: 2rem;
  border-top: 3px solid $color-tertiary;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;

  @media only screen and (max-width: $bp-smallest) {
    border-top: none;
    margin: 0 0 6rem auto;
  }

  @media only screen and (max-width: $bp-contact-founder-break) {
    grid-template-columns: 1fr;
    justify-self: center;
    margin-top: 5rem;
    padding-top: 0;
  }
}

.company {
  grid-column: fill-start / content-end;
  width: 100%;
  margin: 8rem 0 10rem 0;
  padding-right: 12rem;
  font-family: "Nunito", sans-serif;

  @media only screen and (max-width: $bp-medium) {
    padding-right: 4rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding-right: 0;
  }

  @media only screen and (max-width: $bp-contact-founder-break) {
    margin: 5rem 0 10rem 0;
  }
}

.footer {
  grid-column: fill-start / fill-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 6rem;
  border-top: 2px solid $color-tertiary;
  background-color: $color-secondary;
  font-family: "Nunito", sans-serif;

  @media only screen and (max-width: $bp-largest) {
    padding: 2rem 3rem;
  }
}
