.header {
  &__slider {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 95%;
    height: 90%;
    z-index: -1;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    color: $color-font-light;
    font-family: $font-main;
    z-index: 0;

    @media only screen and (max-width: $bp-smallest) {
      align-items: stretch;
      text-align: center;
    }
  }

  &__title {
    padding: 0 2rem 0 3rem;
    text-shadow: 0 0 0.4rem $color-secondary-dark;
    background-color: rgba($color-secondary, 0.85);
    line-height: 14rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 6rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      line-height: normal;
      padding: 2rem 1rem 3rem 1rem;
      margin-top: 7rem !important;
      font-size: 4.4rem;
    }
  }

  &__subtitle {
    margin-top: -1.5rem;
    padding: 0 2rem 0 5rem;
    background-color: rgba($color-secondary-dark, 0.9);
    line-height: 5rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      align-self: flex-end;
      margin-top: -2rem;
      font-size: 2rem;
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    line-height: 2.5rem;
    margin-bottom: -1.5rem;
    padding: 1.5rem 2rem;
    background-color: rgba($color-secondary, 0.9);
    font-size: 1.8rem;
    text-align: right;

    @media only screen and (max-width: $bp-large) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5%;
    margin: 0 0 0.8rem 0;

    @media only screen and (min-width: $bp-infinite) {
      align-items: flex-end;
      padding-right: 2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      flex-direction: row-reverse;
      left: auto;
      right: 3%;
      margin: 0 0 -4rem 0;
    }
  }

  &__link:link,
  &__link:visited {
    fill: $color-secondary;
    transition: all 0.1s;
  }

  &__link:hover,
  &__link:active {
    fill: $color-tertiary;
  }

  &__logo {
    width: 3.5rem;
    height: 3.5rem;
  }

  &__btn {
    position: absolute;
    bottom: -5rem;
    left: 10%;

    @media only screen and (max-width: $bp-medium) {
      left: 3%;
    }
  }
}

.slider {
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 0, 0);
    transition: all 1s ease-in-out;
  }

  &__hero {
    width: 100%;
    height: 100%;
  }
}
