.container {
  display: grid;
  grid-template-columns:
    [fill-start] 1fr
    [content-start] minmax(min-content, 130rem) [content-end]
    1fr [fill-end];
  grid-template-rows: 85vh;
  justify-items: center;
}

.header {
  grid-column: fill-start / fill-end;
  position: relative;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Nunito", sans-serif;
}

.service {
  grid-column: fill-start / content-end;
  width: 100%;
  padding: 4rem 0 4rem 0;
  margin: 10rem 0 5rem 0;
  border-top: 3px solid $color-tertiary;
  font-family: "Nunito", sans-serif;
}

.influence {
  grid-column: content-start / fill-end;
  display: grid;
  grid-template-columns: minmax(max-content, min-content) 1fr;
  margin: 6rem 0;
  border-bottom: 3px solid $color-tertiary;
  font-family: "Nunito", sans-serif;
}

.workflow {
  grid-column: fill-start / content-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 0;
  margin: 5rem 0;
  font-family: "Nunito", sans-serif;
}

.project {
  grid-column: fill-start / fill-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  font-family: "Nunito", sans-serif;
}

.about {
  grid-column: content-start / content-end;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.contact {
  grid-column: content-start / content-end;
}

.footer {
  grid-column: fill-start / fill-end;
}
